
.backgrnd{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #00000099;
  z-index: 1000;
}

.modal{
  font-family: 'Jaldi', sans-seriff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 41%;
  height: 71%;
  border-radius: 1rem;
  background-color: #9edbe8;
  z-index: 1000;
  display: flex;
  align-content: center;
  flex-direction: column;
  color: #5e313fff;
}

.modalHead{
  margin: 1rem 2.5rem 0 2.5rem;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 20%;
  align-items: center;
}

.modalTitle{
  font-size: 1.5rem;
}

.modalList{
  font-size: 1.2rem;
  overflow-y: visible;
}

.modalList > p{
  background-color: #fff7d9ff;
  border-radius: .5rem;
  padding-left: 0.5rem;
  width: 8.75rem;
}

.modalList > p:hover{
  outline: #CCC5AD solid;
}

.modalList > ul{
  position: absolute;
  padding: 0;
  background-color: #fff7d9ff;
  border-radius: .5rem;
  list-style: none;
  margin: -1rem 0 0 0;
  width: 9.25rem;
}

.modalList > ul > li{
  padding-left: 0.5rem;
  border-radius: .5rem;
}

.selected{
  background-color: #FFE68C;
}

.modalList > ul > li:hover{
  background-color: #CCC5AD;
  cursor: pointer;
}

.modal > input {
  border: none;
  border-radius: 0.7rem;
  margin: 0 2.5rem;
  height: 65%;
}

.modalFooter{
  display: flex;
  justify-content: center;
}

.modalFooter > button {
  color: #5e313f;
  font-family: 'Zen Maru Gothic', sans-serif;
  font-size: 1.2rem;
  margin: .4rem .5rem;
  height: 2.375rem;
  width: 5.8rem;
  border: none;
  border-radius: .25rem;
  box-shadow: 0 0.2rem #5e313f;
  cursor: pointer;
}

.modalFooter > button:active{
  transform: translateY(0.1rem);
}

.saveButton{
  background-color: #07eca9ff;
}

.saveButton:hover{
  background-color: #04D65C;
  color: #D6FCFF;
}

.backButton{
  background-color: #eba85fff;
}

.backButton:hover{
  background-color: #F67A56;
  color: #FDDDBC;
}
