.todoClassName{
  background-color: #B3521E;
  border-radius: 10px 10px 0 0;
  color: white;
  display: flex;
  flex-direction: column;
  font-family: 'Nunito', sans-serif;
  height: min-content;
  margin: 0 0.25rem;
  width: 25%;
}

.inprogClassName{
  background-color: #29B3AD;
  border-radius: 10px 10px 0 0;
  color: white;
  display: flex;
  flex-direction: column;
  font-family: 'Nunito', sans-serif;
  height: min-content;
  margin: 0 0.25rem;
  width: 25%;
}

.inholdClassName{
  background-color: #7E29B3;
  border-radius: 10px 10px 0 0;
  color: white;
  display: flex;
  flex-direction: column;
  font-family: 'Nunito', sans-serif;
  height: min-content;
  margin: 0 0.25rem;
  width: 25%;
}

.doneClassName{
  background-color: #9DB32D;
  border-radius: 10px 10px 0 0;
  color: white;
  display: flex;
  flex-direction: column;
  font-family: 'Nunito', sans-serif;
  height: min-content;
  margin: 0 0.25rem;
  width: 25%;
}

.TasksBody{
  color: black;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.TaskContainer{
  margin: 1px 2px;
  display: flex;
  align-items: center;
  padding: 0px 5px;
  justify-content: space-between;
  border: 1px solid black;
  border-radius: 10px;
}

.task{
  margin: 0px;
  height: min-content;
}

.toInProgress{
  width: min-content;
  height: min-content;
  padding: 1px;
  background-color: #29B3AD;
  border-radius: 8px;
}

.toHold{
  width: min-content;
  height: min-content;
  padding: 1px;
  background-color: #7E29B3;
  border-radius: 8px;
}

.toDone{
  width: min-content;
  height: min-content;
  padding: 1px;
  background-color: #9DB32D;
  border-radius: 8px;
}

.toDoHeaderStyle{
  align-self: center;
  margin: 0.5rem;
}

.inPrHeaderStyle{
  align-self: center;
  margin: 0.5rem;
}

.inHoHeaderStyle{
  align-self: center;
  margin: 0.5rem;
}

.doneHeaderStyle{
  align-self: center;
  margin: 0.5rem;
}