.progressList{
  margin: 0 0.25rem;
  width: 25%;
  height: min-content;
  display: flex;
  background-color: #29B3AD;
  border-radius: 10px 10px 0 0;
  flex-direction: column;
}

.progressTitle{
  color: white;
  font-family: 'Nunito', sans-serif;
  align-self: center;
  margin: 0.5rem;
}

.TasksBody{
  background-color: #C3E8E6;
  display: flex;
  flex-direction: column;
}

